body {
    margin: 0;
    padding: 0;
}

.card {
    margin: auto;
    width: max-content;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
